# KNN Regressor

In [1]:
# imports
import sys
sys.path.insert(1, '/Users/danielalemos/si/src/si/model_selection')
sys.path.insert(1, '/Users/danielalemos/si/src/si/io')
sys.path.insert(1, '/Users/danielalemos/si/src/si/neighbors')

from csv_file import read_csv
from split import train_test_split
from knn_regressor import KNNRegressor

In [2]:
df = read_csv('/Users/danielalemos/si/datasets/cpu.csv', sep = ",", features = True, label = True)
print(df.shape())
df.to_dataframe()

(209, 6)

     syct  mmin   mmax  cach  chmin  chmax  perf
0     125   256   6000   256     16    128   198
1      29  8000  32000    32      8     32   269
2      29  8000  32000    32      8     32   220
3      29  8000  32000    32      8     32   172
4      29  8000  16000    32      8     16   132
..    ...   ...    ...   ...    ...    ...   ...
204   124  1000   8000     0      1      8    42
205    98  1000   8000    32      2      8    46
206   125  2000   8000     0      2     14    52
207   480   512   8000    32      0      0    67
208   480  1000   4000     0      0      0    45

[209 rows x 7 columns]

In [3]:
train, test = train_test_split(df, test_size = 0.2)
    
knn = KNNRegressor(k = 3)
knn.fit(train)
print(knn.predict(test))

[140.66666667  29.33333333  35.66666667 701.33333333  18.66666667
 321.66666667  39.33333333  29.66666667 765.33333333 148.
  68.          66.          59.33333333  50.33333333  88.
  32.66666667  60.66666667  20.33333333 179.33333333  66.
  69.66666667  69.66666667 124.66666667  35.          12.
  75.          21.          30.33333333  21.          75.
 321.66666667  28.          84.66666667  24.66666667  15.66666667
  31.33333333  42.         440.33333333  88.          29.
 148.        ]

In [4]:
print(knn.score(test))

81.36259969252635